# For official ultralytics
numpy==1.26.4
git+https://github.com/ultralytics/ultralytics.git
torch==2.2.2  # Using the latest stable version available
opencv-python-headless==4.9.0.80
streamlit==1.32.0
setuptools>=68.0.0 
Pillow==10.1.0

